Repository bellshade/PHP: changes, and which Mergify rules are due for each by the changed paths.
All: php label, markdown label

php label:
  label:
    add:
    - php files
    - request tim php untuk review

markdown label:
  label:
    add:
    - markdown files
    - request docs team untuk review

add: utilities/mpdf/
  utilities/mpdf/mpdf.php
Due: php label

Add CodeQL workflow for GitHub code scanning
  .github/workflows/codeql.yml
Due: none

add: menambahkan utilitas baru untuk membuat password random (https://github.com/bellshade/PHP/pull/194)
  utilities/random_password/generate.php
  utilities/random_password/readme.md
Due: php label, markdown label

style: menghapus spasi yang kelebihan
  utilities/random_password/generate.php
Due: php label

fix: menutup tag anchor
  basics/14_oop_dasar/README.md
Due: markdown label

add: 8. Method Chaining (sub-materi OOP Dasar)
  assets/images/8.1pouring tea realistic.jpg
  basics/14_oop_dasar/8_method_chaining.php
  basics/14_oop_dasar/8_method_chaining2.php
  basics/14_oop_dasar/8_method_chaining3.php
  basics/14_oop_dasar/8_method_chaining4.php
  basics/14_oop_dasar/README.md
Due: php label, markdown label

add: docblock pada file *.php untuk submateri 14.8
  basics/14_oop_dasar/8_method_chaining.php
  basics/14_oop_dasar/8_method_chaining2.php
  basics/14_oop_dasar/8_method_chaining3.php
  basics/14_oop_dasar/8_method_chaining4.php
Due: php label

fix: menyesuaikan daftar isi dengan konten
  basics/14_oop_dasar/README.md
Due: markdown label

add: 14.6. Constant dan Magic Constants
  basics/14_oop_dasar/6_constant_magic_constants.php
  basics/14_oop_dasar/6_constant_magic_constants2.php
  basics/14_oop_dasar/6_constant_magic_constants3.php
  basics/14_oop_dasar/README.md
Due: php label, markdown label

fix: error phpcs: pemisahan dua class
  basics/14_oop_dasar/6_constant_magic_constants2a.php
  basics/14_oop_dasar/6_constant_magic_constants2b.php
  basics/14_oop_dasar/README.md
Due: php label, markdown label

add: menambahkan bab 14.7 setter dan getter
  assets/images/14-7-1-360px-Opened_light_switch.jpg
  assets/images/14-7-2-527px-Light_switch_inside_explained.jpg
  basics/14_oop_dasar/7_setter_dan_getter.php
  basics/14_oop_dasar/7_setter_dan_getter2.php
  basics/14_oop_dasar/7_setter_dan_getter3.php
  basics/14_oop_dasar/7_setter_dan_getter4.php
  basics/14_oop_dasar/7_setter_dan_getter5.php
  basics/14_oop_dasar/7_setter_dan_getter6.php
  basics/14_oop_dasar/README.md
Due: php label, markdown label

fix: eror phpcs
  basics/14_oop_dasar/7_setter_dan_getter6.php
Due: php label

fix: eror Codacy: nama variable > 20 char
  basics/14_oop_dasar/7_setter_dan_getter.php
  basics/14_oop_dasar/7_setter_dan_getter2.php
  basics/14_oop_dasar/7_setter_dan_getter3.php
  basics/14_oop_dasar/7_setter_dan_getter4.php
  basics/14_oop_dasar/7_setter_dan_getter5.php
  basics/14_oop_dasar/README.md
Due: php label, markdown label

fix: eror Codacy: unused local variables
  basics/14_oop_dasar/7_setter_dan_getter.php
  basics/14_oop_dasar/7_setter_dan_getter2.php
  basics/14_oop_dasar/7_setter_dan_getter3.php
  basics/14_oop_dasar/7_setter_dan_getter4.php
  basics/14_oop_dasar/7_setter_dan_getter5.php
  basics/14_oop_dasar/README.md
Due: php label, markdown label

add: CI markdown linter
  .github/workflows/markdown-linter.yml
  .gitignore
  .markdownlint.json
  package-lock.json
  package.json
Due: none

fix: ignore direktori untuk linter markdown
  .markdownlintignore
Due: none

fix: file-file md yang belum sesuai standar linter
  CONTRIBUTING.md
  README.md
  algorithms/BackTracking/PathFinding/README.md
  algorithms/BackTracking/README.md
  algorithms/Searching/Linear/README.md
  algorithms/Searching/README.md
  algorithms/Searching/Ternary/README.md
  algorithms/Sorting/BubbleSort/README.md
  algorithms/Sorting/CountingSort/README.md
  algorithms/Sorting/PopSort/README.md
  algorithms/Sorting/README.md
  algorithms/Sorting/SelectionSort/README.md
  basics/12_database_dasar_prosedural/README.md
  basics/14_oop_dasar/README.md
  basics/15_oop_lanjutan/README.md
  basics/1_hello_world/README.md
  basics/2_variable_datatype/README.md
  basics/3_operator/README.md
  basics/4_conditional_statements/README.md
  basics/5_perulangan/README.md
  basics/6_manipulasi_string/README.md
  basics/7_array_mendalam/README.md
  basics/8_fungsi_dasar/README.md
  basics/9_form_handling/README.md
  basics/README.md
  utilities/Kalkulator_sederhana/kalkulator_syzkii/README.md
  utilities/Login_Dan_Logout/README.md
  utilities/Login_Dan_Logout/login_dan_logout/README.md
  utilities/README.md
  utilities/SImple_UnitTest/README.md
  utilities/datetime/README.md
  utilities/datetime/datetime_php/README.md
  utilities/mpdf/README.md
  utilities/random_password/readme.md
  utilities/reCAPTCHA/README.md
  utilities/reCAPTCHA/google_reCAPTCHA/README.md
  utilities/simple_curl/README.md
Due: markdown label

add: menambahkan script composer serve
  composer.json
Due: none

fix: eror md linter
  .github/pull_request_template.md
Due: markdown label

fix: eror konfigurasi mergify
  .mergify.yml
Due: none

add : Menambahkan materi abstract class
  basics/15_oop_lanjutan/5_abstract_class.php
  basics/15_oop_lanjutan/README.md
Due: php label, markdown label

style: memperbaiki format kode dan menambahkan komen
  basics/15_oop_lanjutan/5_abstract_class.php
Due: php label

docs: menambahkan detail penjelasan program abstract class
  basics/15_oop_lanjutan/README.md
Due: markdown label

docs: memperbaiki kata kata
  basics/15_oop_lanjutan/README.md
Due: markdown label

fix: memisahkan block header, menghapus spasi berlebihan, menambahkan baris kosong di ahir file
  basics/15_oop_lanjutan/5_abstract_class.php
Due: php label

docs: memperbaiki kata kata dan indentasi
  basics/15_oop_lanjutan/README.md
Due: markdown label

docs: memperbaiki subjudul
  basics/15_oop_lanjutan/README.md
Due: markdown label

docs: menambahkan deskripsi pada struktur program
  basics/15_oop_lanjutan/README.md
Due: markdown label

docs: memperbaiki daftar isi
  basics/15_oop_lanjutan/README.md
Due: markdown label

fix: file-file md yang belum sesuai standar linter (#203)
  .github/pull_request_template.md
  .mergify.yml
  CONTRIBUTING.md
  README.md
  algorithms/BackTracking/PathFinding/README.md
  algorithms/BackTracking/README.md
  algorithms/Searching/Linear/README.md
  algorithms/Searching/README.md
  algorithms/Searching/Ternary/README.md
  algorithms/Sorting/BubbleSort/README.md
  algorithms/Sorting/CountingSort/README.md
  algorithms/Sorting/PopSort/README.md
  algorithms/Sorting/README.md
  algorithms/Sorting/SelectionSort/README.md
  basics/12_database_dasar_prosedural/README.md
  basics/14_oop_dasar/README.md
  basics/15_oop_lanjutan/README.md
  basics/1_hello_world/README.md
  basics/2_variable_datatype/README.md
  basics/3_operator/README.md
  basics/4_conditional_statements/README.md
  basics/5_perulangan/README.md
  basics/6_manipulasi_string/README.md
  basics/7_array_mendalam/README.md
  basics/8_fungsi_dasar/README.md
  basics/9_form_handling/README.md
  basics/README.md
  utilities/Kalkulator_sederhana/kalkulator_syzkii/README.md
  utilities/Login_Dan_Logout/README.md
  utilities/Login_Dan_Logout/login_dan_logout/README.md
  utilities/README.md
  utilities/SImple_UnitTest/README.md
  utilities/datetime/README.md
  utilities/datetime/datetime_php/README.md
  utilities/mpdf/README.md
  utilities/random_password/readme.md
  utilities/reCAPTCHA/README.md
  utilities/reCAPTCHA/google_reCAPTCHA/README.md
  utilities/simple_curl/README.md
Due: markdown label

change to explode
  basics/6_manipulasi_string/README.md
Due: markdown label

Path conditions:
  php label: any of: \.php$
  markdown label: any of: \.md$
