Repository bellshade/PHP: changes, and which Mergify rules are due for each by the changed paths.
All: php label, markdown label

php label:
  label:
    add:
    - php files
    - request tim php untuk review

markdown label:
  label:
    add:
    - markdown files
    - request docs team untuk review

fix: ngilangin eror codacy
  basics/6_manipulasi_string/6_strip_slashes.php
Due: php label

Menambahkan materi basic Object Oriented Programing (#106)
  assets/content/basics/14_oop_dasar/1-prosedural.png
  assets/content/basics/14_oop_dasar/2-oop.png
  basics/14_oop_dasar/1_prosedural_dan_oop.php
  basics/14_oop_dasar/README.md
  basics/5_perulangan/README.md
Due: php label, markdown label

fix: menambah dan memperbaiki penjelasan
  basics/6_manipulasi_string/README.md
Due: markdown label

fix: ganti contoh stripplashes
  basics/6_manipulasi_string/6_strip_slashes.php
Due: php label

fix: perbaikan contoh di readme
  basics/6_manipulasi_string/README.md
Due: markdown label

fix: mengganti contoh sesuai saran
  basics/6_manipulasi_string/6_strip_slashes.php
Due: php label

fix: ganti contoh di readme
  basics/6_manipulasi_string/README.md
Due: markdown label

fix: Memperbaiki contoh
  basics/6_manipulasi_string/6_strip_slashes.php
Due: php label

fix: Perbaikan Coday Issue
  algorithms/BackTracking/PathFinding/PathFinding.php
  algorithms/Searching/Binary/BinarySearch.php
  algorithms/Searching/Jump/JumpSearch.php
  algorithms/Searching/Linear/LinearSearch.php
  basics/7_array_mendalam/1_array.php
  basics/7_array_mendalam/2_jenis_array.php
  basics/7_array_mendalam/3_2_implementasi_table_array.php
  basics/7_array_mendalam/3_3_array_kedalam_table.php
Due: php label

feat: menambhkan informasi
  .mergify.yml
Due: none

add: Sample Code Ternary Search
  algorithms/Searching/Ternary/TernarySearch.php
Due: php label

add: TernarySearch PHP Unit Test
  algorithms/Searching/Ternary/TernarySearch.php
  tests/Searching/TernarySearchTest.php
Due: php label

fix: Codacy dan PSR-12 issue
  algorithms/Searching/Jump/JumpSearch.php
  algorithms/Searching/Ternary/TernarySearch.php
  basics/7_array_mendalam/2_jenis_array.php
  tests/Searching/TernarySearchTest.php
Due: php label

fix: Codacy issue
  algorithms/Searching/Ternary/TernarySearch.php
  tests/Searching/TernarySearchTest.php
Due: php label

fix: menambahkan pengecualian workflow gaya penulisan kode
  composer.json
  phpcs.xml
Due: none

add: menambah materi oop dasar class dan object
  assets/content/basics/14_oop_dasar/object1.png
  assets/content/basics/14_oop_dasar/object2.png
  basics/14_oop_dasar/2_class_and_object.php
  basics/14_oop_dasar/README.md
Due: php label, markdown label

update materi class and object
  basics/14_oop_dasar/2_class_and_object.php
Due: php label

fix: coba fix codacy php psr
  basics/14_oop_dasar/2_class_and_object.php
  composer.lock
Due: php label

update: memperbaiki materi
  basics/14_oop_dasar/2_class_and_object.php
Due: php label

add: menambah materi property dan method
  assets/content/basics/14_oop_dasar/method.png
  assets/content/basics/14_oop_dasar/property.png
  basics/14_oop_dasar/3_property_and_method.php
  basics/14_oop_dasar/README.md
Due: php label, markdown label

fix: update pengecualian namespace untuk demo basic
  phpcs.xml
Due: none

fix: memperbaiki teks
  basics/14_oop_dasar/README.md
Due: markdown label

docs: fix heading dan daftar isi
  basics/14_oop_dasar/README.md
Due: markdown label

add: Ternary Serach Sample Code
  algorithms/Searching/Ternary/TernarySearch.php
Due: php label

add: TernarySearch phpunit test file
  tests/Searching/TernarySearchTest.php
Due: php label

add: Readme file and assets chart
  algorithms/Searching/Ternary/README.md
  assets/content/algorithms/Searching/Ternary/Ternary.svg
Due: markdown label

fix: gaya penulisan
  phpcs.xml
Due: none

fix: Codacy Issue
  algorithms/BackTracking/PathFinding/PathFinding.php
  algorithms/Searching/Binary/BinarySearch.php
  algorithms/Searching/Jump/JumpSearch.php
  algorithms/Searching/Jump/README.md
  algorithms/Searching/Linear/LinearSearch.php
  basics/8_fungsi_dasar/6_Rekursif_Function.php
  basics/8_fungsi_dasar/README.md
  env.env
Due: php label, markdown label

docs: Update Dokumentasi Ternary Search
  algorithms/Searching/Ternary/README.md
Due: markdown label

fix: fix readme menghapus line 73
  basics/14_oop_dasar/README.md
Due: markdown label

fix: Penambahan dokumentasi
  basics/14_oop_dasar/README.md
Due: markdown label

docs: Update Dokumentasi Ternary Search
  algorithms/Searching/Ternary/README.md
  algorithms/Searching/Ternary/TernarySearch.php
  basics/8_fungsi_dasar/README.md
  tests/Searching/TernarySearchTest.php
Due: php label, markdown label

docs: update dokumenstasi dan asset Ternary Search
  algorithms/Searching/Ternary/README.md
  assets/content/algorithms/Searching/Ternary/ternary.png
Due: markdown label

add: depedencies update
  composer.lock
Due: none

fix: phpcs issue
  algorithms/Sorting/BubbleSort/BubbleSort.php
Due: php label

docs: Penyesuaian beberapa kata
  algorithms/Searching/Ternary/README.md
  algorithms/Searching/Ternary/TernarySearch.php
  tests/Searching/TernarySearchTest.php
Due: php label, markdown label

fix: error typehint pada unit test
  tests/Searching/TernarySearchTest.php
Due: php label

style: penyesuaian penulisan dengan codesniffer phpcs setelah update package
  basics/14_oop_dasar/2_class_and_object.php
Due: php label

add: selection sort sample code
  algorithms/Sorting/SelectionSort/SelectionSort.php
Due: php label

add: selection sort test unit
  tests/Sorting/SelectionSortTest.php
Due: php label

Path conditions:
  php label: any of: \.php$
  markdown label: any of: \.md$
