Repository bellshade/PHP: changes, and which Mergify rules are due for each by the changed paths.
All: php label, markdown label

.mergify.yml:

# bot pull request untuk bellshade python
# command untuk refresh mergify jika ada perubahan pada file config
# @Mergifyio refresh
# gunakan dengan cara comment pada pull request
pull_request_rules:
  - name: ci testing kalo sukses ke squash dengan label
    conditions:
      # rule ketika auto merge dijalankan
      # jika workflow passed maka akan dicentang
      # jika pull request di approve dari 2 maintainer akan di centang
      # jika pull request pada branch main maka akan dicentang
      # jika diberikan label 'ready-to-merge' akan dicentang

      # jika semua rule sudah di centang maka fungsi automerge akan dijalankan
      - check-success=build
      - "#approved-reviews-by>=2"
      - base=main
      - label=ready-to-merge
    actions:
      label:
        add:
            # ketika sudah di merge maka akan menambahkan label
            # 'sudah direview!'
            - sudah direview !
      comment:
        # ketika semua rule diatas sudah djalankan maka bot akan memberikan komentar
        # pada kontributor yang melakukan pull request
        message: terima kasih atas kontribusinya @{{author}} !
      merge:
        # metode yang digunakan pada bot automerge
        method: merge
    
    # menambhkan label php
    # kita pull request terdapat file php
    # maka akan menambahkan file php
  - name: php label
    conditions:
      - files~=\.php$
    actions:
      label:
        add:
          - php files
          - request tim php untuk review

    # kita pull request terdapat file markdown
    # maka akan menambahkan file markdown
  - name: markdown label
    conditions:
      - files~=\.md$
    actions:
      label:
        add:
          - markdown files
          - request docs team untuk review

    # me mention maintainer yang ketika file markdown
    # tedapat pada pull request
  - name: review docs team untuk file markdown
    conditions:
      - label=markdown files
    actions:
      request_reviews:
        users:
          - ikr4mm
          - azqilana

    # me mention maintainer yang ketika file php
    # terdapat pada pull request
  - name: review php team untuk file markdown
    conditions:
      - label=php files
    actions:
      request_reviews:
        teams:
          - "@bellshade/php-team"

add: object oriented programming lanjutan/advanced
  basics/15_oop_lanjutan/README.md
  basics/15_oop_lanjutan/abstract-class.php
  basics/15_oop_lanjutan/data/Conflict.php
  basics/15_oop_lanjutan/data/Helper.php
  basics/15_oop_lanjutan/date-time.php
  basics/15_oop_lanjutan/interface.php
  basics/15_oop_lanjutan/namespace.php
  basics/15_oop_lanjutan/object-cloning.php
  basics/15_oop_lanjutan/parent.php
  basics/15_oop_lanjutan/polymorphism.php
  basics/15_oop_lanjutan/visibility.php
Due: php label, markdown label

add: object oriented programming lanjutan/advanced
  basics/README.md
Due: markdown label

add: OOP Advanced PHP
  basics/15_oop_lanjutan/README.md
  basics/15_oop_lanjutan/abstract-class.php
Due: php label, markdown label

add: OOP Advanced PHP
  basics/15_oop_lanjutan/abstract_class.php
  basics/15_oop_lanjutan/object_cloning.php
Due: php label

add: OOP Advanced PHP
  basics/15_oop_lanjutan/01_date-time.php
  basics/15_oop_lanjutan/02_interface.php
  basics/15_oop_lanjutan/03_namespace.php
  basics/15_oop_lanjutan/04_polymorphism.php
  basics/15_oop_lanjutan/05_parent.php
  basics/15_oop_lanjutan/06_visibility.php
  basics/15_oop_lanjutan/07_object_cloning.php
  basics/15_oop_lanjutan/08_abstract_class.php
Due: php label

add: sample env configuration
  .env.example
Due: none

add: counting sort algorithm implementation
  algorithms/Sorting/CountingSort/CountingSort.php
Due: php label

test: sort method on counting sort unit testing
  tests/Sorting/CountingSortTest.php
Due: php label

add: added class instantiation within file
  algorithms/Sorting/CountingSort/CountingSort.php
Due: php label

docs: added counting sort article introduction
  algorithms/Sorting/CountingSort/README.md
Due: markdown label

add: counting sort placement image
  algorithms/Sorting/CountingSort/README.md
  assets/content/algorithms/Sorting/CountingSort/counting-sort.png
Due: markdown label

add: utilities/SImple_UnitTest/
  utilities/SImple_UnitTest/README.md
  utilities/SImple_UnitTest/SimpleTest.php
  utilities/SImple_UnitTest/WordCount.php
  utilities/SImple_UnitTest/composer.json
  utilities/SImple_UnitTest/composer.lock
Due: php label, markdown label

docs: mengubah nama file "env" menjadi ".env.example"
  README.md
Due: markdown label

fix: code linting
  utilities/SImple_UnitTest/SimpleTest.php
  utilities/SImple_UnitTest/WordCount.php
Due: php label

fix: memperbaiki penamaan dari "reCHAPTCHA" ke "reCAPTCHA" (https://github.com/bellshade/PHP/pull/174)
  utilities/reCAPTCHA/README.md
  utilities/reCAPTCHA/google_reCAPTCHA/README.md
  utilities/reCAPTCHA/google_reCAPTCHA/captcha.php
  utilities/reCAPTCHA/google_reCAPTCHA/images/0.png
  utilities/reCAPTCHA/google_reCAPTCHA/images/1.png
  utilities/reCAPTCHA/google_reCAPTCHA/images/2.png
  utilities/reCAPTCHA/google_reCAPTCHA/images/3.png
  utilities/reCAPTCHA/google_reCAPTCHA/images/4.png
Due: php label, markdown label

fix: menghilangkan .env.example dari navigasi webnya (https://github.com/bellshade/PHP/pull/175)
  index.php
Due: php label

add: penjelasan operator ternary
  basics/4_conditional_statements/3_operator_ternary.php
  basics/4_conditional_statements/4_ternary_assignment.php
  basics/4_conditional_statements/5_ternary_shorthand.php
  basics/4_conditional_statements/README.md
Due: php label, markdown label

Update 3_operator_ternary.php
  basics/4_conditional_statements/3_operator_ternary.php
Due: php label

Update 4_ternary_assignment.php
  basics/4_conditional_statements/4_ternary_assignment.php
Due: php label

Update 5_ternary_shorthand.php
  basics/4_conditional_statements/5_ternary_shorthand.php
Due: php label

add: penjelasan operator ternary (#177)
  basics/4_conditional_statements/3_operator_ternary.php
  basics/4_conditional_statements/4_ternary_assignment.php
  basics/4_conditional_statements/5_ternary_shorthand.php
  basics/4_conditional_statements/README.md
Due: php label, markdown label

docs: memperbaiki kesalahan link anchor di bagian "Utility" (https://github.com/bellshade/PHP/pull/178)
  CONTRIBUTING.md
Due: markdown label

docs: memperbaiki kesalahan link anchor di bagian "Tentang gaya PSR-12" (https://github.com/bellshade/PHP/pull/178)
  CONTRIBUTING.md
Due: markdown label

docs: memperbaiki kesalahan link anchor di bagian "Unit Testing" (https://github.com/bellshade/PHP/pull/178)
  CONTRIBUTING.md
Due: markdown label

docs: memperbaiki typo dari "mereiview" ke "mereview" (https://github.com/bellshade/PHP/pull/179)
  .github/pull_request_template.md
Due: markdown label

docs: memperbaiki typo dari "mereiview" ke "mereview" (https://github.com/bellshade/PHP/pull/179) (#179)
  .github/pull_request_template.md
Due: markdown label

add: Menambahkan Materi Inheritance
  basics/15_oop_lanjutan/1_inheritance.php
  basics/15_oop_lanjutan/README.md
Due: php label, markdown label

fix: Memisahkan Class Parent dan Child
  basics/15_oop_lanjutan/1_inheritance_Hewan.php
  basics/15_oop_lanjutan/1_inheritance_Kucing.php
Due: php label

add: Menambahkan Materi Object Type
  basics/15_oop_lanjutan/2_object_type.php
  basics/15_oop_lanjutan/README.md
Due: php label, markdown label

add: Menambahkan Materi Access Modifier
  assets/content/basics/15_oop_lanjutan/3_private.gif
  assets/content/basics/15_oop_lanjutan/3_protected.gif
  basics/15_oop_lanjutan/1_inheritance_Hewan.php
  basics/15_oop_lanjutan/1_inheritance_Kucing.php
  basics/15_oop_lanjutan/3_access_modifier.php
  basics/15_oop_lanjutan/README.md
Due: php label, markdown label

fix: Memperbaiki Typo
  basics/15_oop_lanjutan/1_inheritance_Kucing.php
Due: php label

fix: Menggunakan Variabel yang tidak terpakai
  basics/15_oop_lanjutan/1_inheritance_Hewan.php
Due: php label
