Repository bellshade/PHP: changes, and which Mergify rules are due for each by the changed paths.
All: php label, markdown label

.mergify.yml:

# bot pull request untuk bellshade python
# command untuk refresh mergify jika ada perubahan pada file config
# @Mergifyio refresh
# gunakan dengan cara comment pada pull request
pull_request_rules:
  - name: ci testing kalo sukses ke squash dengan label
    conditions:
      # rule ketika auto merge dijalankan
      # jika workflow passed maka akan dicentang
      # jika pull request di approve dari 2 maintainer akan di centang
      # jika pull request pada branch main maka akan dicentang
      # jika diberikan label 'ready-to-merge' akan dicentang

      # jika semua rule sudah di centang maka fungsi automerge akan dijalankan
      - check-success=build
      - "#approved-reviews-by>=2"
      - base=main
      - label=ready-to-merge
    actions:
      label:
        add:
            # ketika sudah di merge maka akan menambahkan label
            # 'sudah direview!'
            - sudah direview !
      comment:
        # ketika semua rule diatas sudah djalankan maka bot akan memberikan komentar
        # pada kontributor yang melakukan pull request
        message: terima kasih atas kontribusinya @{{author}} !
      merge:
        # metode yang digunakan pada bot automerge
        method: merge
    
    # menambhkan label php
    # kita pull request terdapat file php
    # maka akan menambahkan file php
  - name: php label
    conditions:
      - files~=\.php$
    actions:
      label:
        add:
          - php files
          - request tim php untuk review

    # kita pull request terdapat file markdown
    # maka akan menambahkan file markdown
  - name: markdown label
    conditions:
      - files~=\.md$
    actions:
      label:
        add:
          - markdown files
          - request docs team untuk review

    # me mention maintainer yang ketika file markdown
    # tedapat pada pull request
  - name: review docs team untuk file markdown
    conditions:
      - label=markdown files
    actions:
      request_reviews:
        users:
          - ikr4mm
          - azqilana

    # me mention maintainer yang ketika file php
    # terdapat pada pull request
  - name: review php team untuk file markdown
    conditions:
      - label=php files
    actions:
      request_reviews:
        teams:
          - "@bellshade/php-team"

add: selection sort readme & assets
  algorithms/Sorting/SelectionSort/README.md
  assets/content/algorithms/Sorting/SelectionSort/1.png
  assets/content/algorithms/Sorting/SelectionSort/2.png
  assets/content/algorithms/Sorting/SelectionSort/3.png
  assets/content/algorithms/Sorting/SelectionSort/4.png
  assets/content/algorithms/Sorting/SelectionSort/5.png
  assets/content/algorithms/Sorting/SelectionSort/6.png
  assets/content/algorithms/Sorting/SelectionSort/7.png
  assets/content/algorithms/Sorting/SelectionSort/8.png
  assets/content/algorithms/Sorting/SelectionSort/9.png
  assets/content/algorithms/Sorting/SelectionSort/selection-sort-flowchart.png
Due: markdown label

fix: Refactor beberapa kode
  algorithms/BackTracking/PathFinding/PathFinding.php
  basics/8_fungsi_dasar/3_Scope_Variabel.php
  utilities/Login_static/Login_static_php/login_cek.php
Due: php label

fix: PopSort Complexity
  algorithms/Sorting/PopSort/PopSort.php
Due: php label

fix: update artikel algoritma/searching
  algorithms/Searching/README.md
  algorithms/Sorting/PopSort/PopSort.php
  utilities/Login_static/Login_static_php/login_cek.php
Due: php label, markdown label

add: Dokumentasi Interpolation Search
  algorithms/Searching/Interpolation/README.md
  assets/content/algorithms/Searching/Interpolation/fungsi.png
Due: markdown label

docs: update background flowchart
  assets/content/algorithms/Sorting/SelectionSort/selection-sort-flowchart.png
Due: none

fix: menyesuaikan parameter fungsi
  algorithms/Sorting/SelectionSort/SelectionSort.php
Due: php label

docs: update dokumentasi sesuai demo program
  algorithms/Sorting/SelectionSort/README.md
Due: markdown label

refactor: autoload tidak lagi menggunakan relative link dari subfolder
  index.php
Due: php label

add: fungsionalitas breadcrumb pada navigasi explorer
  assets/css/global.css
Due: none

docs: merapikan materi pengkondisian dengan ketentuan baru
  basics/4_conditional_statements/README.md
Due: markdown label

docs: menambahkan navigasi pada materi perulangan
  basics/5_perulangan/README.md
Due: markdown label

docs: menambahkan navigasi pada materi form handling
  basics/9_form_handling/README.md
Due: markdown label

style: menggunakan poppins sebagai font standar markdown
  assets/css/global.css
  assets/webfonts/Poppins-Regular.ttf
  assets/webfonts/Poppins-Regular.woff2
Due: none

docs: menambahkan navigasi pada materi manipulasi string
  basics/6_manipulasi_string/README.md
Due: markdown label

docs: menambahkan navigasi pada materi fungsi dasar
  basics/8_fungsi_dasar/README.md
Due: markdown label

build: menambahkan pengecualian markdown untuk prettier
  .prettierignore
Due: none

docs: memperbarui sesuai ketentuan docs baru
  basics/1_hello_world/README.md
Due: markdown label

docs: merapikan materi variabel tipe data dengan ketentuan baru
  basics/2_variable_datatype/README.md
Due: markdown label

style: memperbarui tipografi h4
  assets/css/markdown-style.css
Due: none

refactor: menghapus scope untuk debugging dan testing
  assets/js/markdown.js
Due: none

refactor: memberikan komentar kode yang lebih jelas pada index
  index.php
Due: php label

fix: memberikan trailing slash pada link dir
  index.php
Due: php label

docs: menambahkan navigasi pada materi array mendalam
  basics/7_array_mendalam/README.md
Due: markdown label

docs: merapikan materi operator dengan ketentuan baru
  basics/3_operator/README.md
Due: markdown label

docs: menambahkan navigasi pada materi database dasar
  basics/12_database_dasar_prosedural/README.md
Due: markdown label

fix: ignore file prettier pada navigasi explorer
  .gitignore
  index.php
Due: php label

docs: simplifikasi materi class dan object
  basics/14_oop_dasar/README.md
Due: markdown label

add: Menambahkan Materi Property dan Method
  basics/14_oop_dasar/3_property_and_method.php
  basics/14_oop_dasar/README.md
  env
Due: php label, markdown label

fix: memperbaiki conflicts
  basics/14_oop_dasar/3_property_and_method.php
Due: php label

fix: memperbaiki closing brace
  basics/14_oop_dasar/3_property_and_method.php
Due: php label

fix: memperbaiki closing brace lagi
  basics/14_oop_dasar/3_property_and_method.php
Due: php label

add: Menambahkan Membaca File dan Folder
  assets/content/basics/10_file_handling/file_handling.txt
  basics/10_file_handling/1_membaca_file_dan_folder.php
  basics/10_file_handling/README.md
Due: php label, markdown label

add: Menambahkan Membaca File dan Folder
  basics/10_file_handling/1_membaca_file_dan_folder.php
Due: php label

add: Menambahkan Materi Membuat File dan Folder
  basics/10_file_handling/2_create_file_folder.php
  basics/10_file_handling/README.md
Due: php label, markdown label

add: Menambahkan Materi Membuat File dan Folder
  basics/10_file_handling/2_create_file_folder.php
Due: php label
