Repository bellshade/PHP: changes, and which Mergify rules are due for each by the changed paths.
All: php label, markdown label

.mergify.yml:

# bot pull request untuk bellshade python
# command untuk refresh mergify jika ada perubahan pada file config
# @Mergifyio refresh
# gunakan dengan cara comment pada pull request
pull_request_rules:
  - name: ci testing kalo sukses ke squash dengan label
    conditions:
      # rule ketika auto merge dijalankan
      # jika workflow passed maka akan dicentang
      # jika pull request di approve dari 2 maintainer akan di centang
      # jika pull request pada branch main maka akan dicentang
      # jika diberikan label 'ready-to-merge' akan dicentang

      # jika semua rule sudah di centang maka fungsi automerge akan dijalankan
      - check-success=build
      - "#approved-reviews-by>=2"
      - base=main
      - label=ready-to-merge
    actions:
      label:
        add:
            # ketika sudah di merge maka akan menambahkan label
            # 'sudah direview!'
            - sudah direview !
      comment:
        # ketika semua rule diatas sudah djalankan maka bot akan memberikan komentar
        # pada kontributor yang melakukan pull request
        message: terima kasih atas kontribusinya @{{author}} !
      merge:
        # metode yang digunakan pada bot automerge
        method: merge
    
    # menambhkan label php
    # kita pull request terdapat file php
    # maka akan menambahkan file php
  - name: php label
    conditions:
      - files~=\.php$
    actions:
      label:
        add:
          - php files
          - request tim php untuk review

    # kita pull request terdapat file markdown
    # maka akan menambahkan file markdown
  - name: markdown label
    conditions:
      - files~=\.md$
    actions:
      label:
        add:
          - markdown files
          - request docs team untuk review

    # me mention maintainer yang ketika file markdown
    # tedapat pada pull request
  - name: review docs team untuk file markdown
    conditions:
      - label=markdown files
    actions:
      request_reviews:
        users:
          - ikr4mm
          - azqilana

    # me mention maintainer yang ketika file php
    # terdapat pada pull request
  - name: review php team untuk file markdown
    conditions:
      - label=php files
    actions:
      request_reviews:
        teams:
          - "@bellshade/php-team"

add: menambahkan mktime function
  basics/8_fungsi_dasar/7_mktime_function/README.md
  basics/8_fungsi_dasar/7_mktime_function/mktime_function.php
  basics/8_fungsi_dasar/7_mktime_function/mktimefunction.png
Due: php label, markdown label

add: menambahkan algoritma baru dan memperbaiki algoritma yang sudah ada
  utilities/Login_Dan_Logout/Login_Dan_Logout/README.md
  utilities/Login_Dan_Logout/Login_Dan_Logout/login_cek.php
  utilities/Login_Dan_Logout/Login_Dan_Logout/login_form_index.php
  utilities/Login_Dan_Logout/Login_Dan_Logout/logout.php
  utilities/Login_Dan_Logout/README.md
  utilities/Login_static/README.md
Due: php label, markdown label

add: menambahkan algoritma baru dan memperbaiki algoritma yang sudah ada
  utilities/Login_Dan_Logout/README.md
  utilities/Login_Dan_Logout/login_dan_logout/README.md
  utilities/Login_Dan_Logout/login_dan_logout/login_cek.php
  utilities/Login_Dan_Logout/login_dan_logout/login_form_index.php
  utilities/Login_Dan_Logout/login_dan_logout/logout.php
  utilities/Login_static/README.md
Due: php label, markdown label

add: Menambahkan Materi Overriding and Final
  basics/15_oop_lanjutan/1_inheritance_Hewan.php
  basics/15_oop_lanjutan/4_overriding_and_final.php
  basics/15_oop_lanjutan/README.md
Due: php label, markdown label

add: utilities/simple_curl/
  utilities/simple_curl/README.md
  utilities/simple_curl/curl.php
  utilities/simple_curl/prayogaea.php
Due: php label, markdown label

docs: utilities/simple_curl/
  utilities/simple_curl/curl.php
Due: php label

docs: utilities/simple_curl/
  utilities/simple_curl/prayogaea.php
Due: php label

docs: utilities/simple_curl/
  utilities/simple_curl/curl.php
  utilities/simple_curl/prayogaea.php
Due: php label

docs: memperbaiki penulisan README
  README.md
Due: markdown label

docs: utilities/README.md
  utilities/README.md
Due: markdown label

add: utilities/fpdf/fpdf.php
  utilities/fpdf/fpdf.php
Due: php label

add: utilities/fpdf/README.md
  utilities/fpdf/README.md
Due: markdown label

docs: utilities/fpdf/fpdf.php
  utilities/fpdf/fpdf.php
Due: php label

docs: utilities/fpdf/
  utilities/fpdf/README.md
  utilities/fpdf/fpdf.php
Due: php label, markdown label

add: utilities/mpdf/
  utilities/mpdf/README.md
Due: markdown label

add: utilities/mpdf/
  assets/images/mpdf.png
Due: none

add: utilities/mpdf/
  utilities/mpdf/mpdf.php
Due: php label
