Repository bellshade/PHP: changes, and which Mergify rules are due for each by the changed paths.
All: php label, markdown label

.mergify.yml:

pull_request_rules:
  - name: ci testing kalo sukses ke squash dengan label
    conditions:
      - check-success=build
      - base=main
      - label=ready-to-merge
    actions:
      label:
        add:
            - sudah direview !
      comment:
        message: terima kasih atas kontribusinya @{{author}} !
      merge:
        method: squash
  - name: php label
    conditions:
      - files~=\.php$
    actions:
      label:
        add:
          - php files
          - request tim php untuk review
  - name: markdown label
    conditions:
      - files~=\.md$
    actions:
      label:
        add:
          - markdown files
          - request docs team untuk review
  - name: review docs team untuk file markdown
    conditions:
      - label=markdown files
    actions:
      request_reviews:
        teams:
          - "@bellshade/docs-team"

  - name: review php team untuk file markdown
    conditions:
      - label=php files
    actions:
      request_reviews:
        teams:
          - "@bellshade/php-team"

docs: Menambahkan Materi Basic-Fungsi Dasar Return
  assets/content/cekhere.svg
  basics/8_fungsi_dasar/README.md
Due: markdown label

chore(deps): add renovate.json
  renovate.json
Due: none

fix: set min approval 2 orang
  .mergify.yml
Due: none

docs: memperbaiki README.md
  BASIC.md
  README.md
  algorithms/README.md
  basics/README.md
  utilities/README.md
Due: markdown label

update typo
  README.md
Due: markdown label

update typo
  basics/README.md
Due: markdown label

docs: Typo
  README.md
Due: markdown label

add: menambahkan algoritma FizzBuzz
  algorithms/FizzBuzz.php
Due: php label

fix: memperbaiki algoritma yang sudah ada
  algorithms/FizzBuzz.php
Due: php label

fix: codacy issue
  basics/8_fungsi_dasar/README.md
Due: markdown label

fix: typo dan struktur kata
  basics/8_fungsi_dasar/README.md
Due: markdown label

docs: Penambahan Ruang Lingkup Variabel
  basics/8_fungsi_dasar/README.md
Due: markdown label

add: Materi Session dan Cookie
  basics/11_cookie_dan_session/1_set_session.php
  basics/11_cookie_dan_session/2_get_session.php
  basics/11_cookie_dan_session/3_update_session.php
  basics/11_cookie_dan_session/4_delete_session.php
  basics/11_cookie_dan_session/5_set_cookie.php
  basics/11_cookie_dan_session/6_update_cookie.php
  basics/11_cookie_dan_session/7_delete_cookie.php
  basics/11_cookie_dan_session/README.md
Due: php label, markdown label

docs: Memperbaiki Daftar Isi
  basics/11_cookie_dan_session/README.md
Due: markdown label

docs: Materi Variabel Statis Pada Fungsi
  assets/content/cekhere.svg
  basics/8_fungsi_dasar/README.md
Due: markdown label

docs: memperbaiki typo
  basics/11_cookie_dan_session/README.md
Due: markdown label

fix: integrasi konfigurasi codesniffer dengan codacy
  composer.json
  ruleset.phpcs.xml
Due: none

add: empty commit untuk test workflow
  basics/11_cookie_dan_session/README.md
Due: markdown label

fix: Daftar exceptions Memasukkan `.mergify.yml` dan `renovate.json` ke dalam daftar exceptions
  index.php
Due: php label

docs: Memperbaiki docs dan demo `Mengubah Cookie`
  basics/11_cookie_dan_session/6_update_cookie.php
  basics/11_cookie_dan_session/README.md
Due: php label, markdown label

add: menambah materi addslashes
  assets/content/basics/5_string_manipulation/kutip''.png
  assets/content/basics/5_string_manipulation/kutip2''.png
  assets/content/basics/5_string_manipulation/slash''.png
  basics/6_manipulasi_string/5_add_slashes.php
  basics/6_manipulasi_string/README.md
Due: php label, markdown label

docs: merapikan dokumentasi markdown submateri addslashes
  basics/6_manipulasi_string/README.md
Due: markdown label

fix: gaya penulisan kode berdasarkan workflow
  basics/6_manipulasi_string/5_add_slashes.php
Due: php label

fix: menyesuaikan beberapa kata
  basics/6_manipulasi_string/README.md
Due: markdown label

fix: memperbaiki beberapa bagian teks
  basics/6_manipulasi_string/README.md
Due: markdown label

docs: merubah urutan paragraf untuk pembentukan konteks yang lebih baik
  basics/6_manipulasi_string/README.md
Due: markdown label

add: menambah materi addslashes (#130)
  assets/content/basics/5_string_manipulation/kutip''.png
  assets/content/basics/5_string_manipulation/kutip2''.png
  assets/content/basics/5_string_manipulation/slash''.png
  basics/6_manipulasi_string/5_add_slashes.php
  basics/6_manipulasi_string/README.md
Due: php label, markdown label

docs: menambahkan badge code quality pada judul markdown
  README.md
Due: markdown label

feat: integrasi konfigurasi codesniffer dengan codacy
  .phpcs.xml
  composer.json
Due: none

feat: percobaan integrasi codesniffer dengan codacy
  composer.json
  phpcs.xml
Due: none

docs: memperbaiki beberapa paragraf untuk artikel fundamental OOP (join task)
  assets/content/basics/14_oop_dasar/1-prosedural.png
  assets/content/basics/14_oop_dasar/2-oop.png
  basics/14_oop_dasar/README.md
Due: markdown label

fix: memperbarui request review mention docs team
  .mergify.yml
Due: none

add: trigger workflow manual
  basics/14_oop_dasar/README.md
Due: markdown label

fix: mengubah huruf kecil jd besar menghapus karakter berlebih
  basics/14_oop_dasar/README.md
Due: markdown label

docs: penyusunan ulang kalimat analogi di awal oop
  basics/14_oop_dasar/README.md
Due: markdown label

add: menambah materi stripslashes
  assets/content/basics/5_string_manipulation/stripslashes.png
  assets/content/basics/5_string_manipulation/stripslashes0.png
  basics/6_manipulasi_string/6_strip_slashes.php
  basics/6_manipulasi_string/README.md
  env.env
Due: php label, markdown label

docs: update dokumentasi berdasarkan request changes #1
  basics/14_oop_dasar/README.md
Due: markdown label

fix: buang typo
  basics/6_manipulasi_string/README.md
Due: markdown label

fix: mengganti isi pada beberapa bagian
  basics/6_manipulasi_string/README.md
Due: markdown label
