Repository bellshade/PHP: changes, and which Mergify rules are due for each by the changed paths.
All: php label, markdown label

.mergify.yml:

# bot pull request untuk bellshade python
# command untuk refresh mergify jika ada perubahan pada file config
# @Mergifyio refresh
# gunakan dengan cara comment pada pull request
pull_request_rules:
  - name: ci testing kalo sukses ke squash dengan label
    conditions:
      # rule ketika auto merge dijalankan
      # jika workflow passed maka akan dicentang
      # jika pull request di approve dari 2 maintainer akan di centang
      # jika pull request pada branch main maka akan dicentang
      # jika diberikan label 'ready-to-merge' akan dicentang

      # jika semua rule sudah di centang maka fungsi automerge akan dijalankan
      - check-success=build
      - "#approved-reviews-by>=2"
      - base=main
      - label=ready-to-merge
    actions:
      label:
        add:
            # ketika sudah di merge maka akan menambahkan label
            # 'sudah direview!'
            - sudah direview !
      comment:
        # ketika semua rule diatas sudah djalankan maka bot akan memberikan komentar
        # pada kontributor yang melakukan pull request
        message: terima kasih atas kontribusinya @{{author}} !
      merge:
        # metode yang digunakan pada bot automerge
        method: merge
    
    # menambhkan label php
    # kita pull request terdapat file php
    # maka akan menambahkan file php
  - name: php label
    conditions:
      - files~=\.php$
    actions:
      label:
        add:
          - php files
          - request tim php untuk review

    # kita pull request terdapat file markdown
    # maka akan menambahkan file markdown
  - name: markdown label
    conditions:
      - files~=\.md$
    actions:
      label:
        add:
          - markdown files
          - request docs team untuk review

    # me mention maintainer yang ketika file markdown
    # tedapat pada pull request
  - name: review docs team untuk file markdown
    conditions:
      - label=markdown files
    actions:
      request_reviews:
        users:
          - ikr4mm
          - azqilana

    # me mention maintainer yang ketika file php
    # terdapat pada pull request
  - name: review php team untuk file markdown
    conditions:
      - label=php files
    actions:
      request_reviews:
        teams:
          - "@bellshade/php-team"

add: Menambahkan Materi Membuat File dan Folder
  basics/10_file_handling/2_create_file_folder.php
Due: php label

fix: Memperbaiki Materi Membuat File dan Folder
  basics/10_file_handling/2_create_file_folder.php
Due: php label

fix: Memperbaiki Materi Manipulasi String
  basics/6_manipulasi_string/5_escape_dan_formatting.php
  basics/6_manipulasi_string/6_manipulasi_string.php
  basics/6_manipulasi_string/6_strip_slashes.php
Due: php label

fix: Memperbaiki dan Menambahkan Materi Manipulasi String
  basics/6_manipulasi_string/6_manipulasi_string.php
  basics/6_manipulasi_string/README.md
Due: php label, markdown label

fix: Memperbaiki Readme
  basics/6_manipulasi_string/README.md
Due: markdown label

add: Menambahkan Materi Write File
  basics/10_file_handling/3_write_file.php
  basics/10_file_handling/README.md
Due: php label, markdown label

add: demo constructor destructor 1
  basics/14_oop_dasar/4_constructor_destructor.php
Due: php label

add: artikel untuk constructor dan destructor
  basics/14_oop_dasar/README.md
Due: markdown label

add: file demo untuk constructor dengan parameter
  basics/14_oop_dasar/4_constructor_destructor2.php
Due: php label

add: Menambahkan Materi Form Handling datetime
  basics/9_form_handling/4_datetime.php
  basics/9_form_handling/README.md
Due: php label, markdown label

add: Menambahkan Materi Form Handling checkbox
  basics/9_form_handling/5_checkbox.php
  basics/9_form_handling/README.md
Due: php label, markdown label

add: materi properti dan method static
  basics/14_oop_dasar/README.md
Due: markdown label

add: demo property dan method static
  basics/14_oop_dasar/5_property_dan_method_static.php
Due: php label

fix: Memperbaiki Materi Form Handling checkbox
  basics/9_form_handling/5_checkbox.php
Due: php label

add: Menambahkan Materi Form Handling radio
  basics/9_form_handling/6_radio.php
  basics/9_form_handling/README.md
Due: php label, markdown label

add: Menambahkan Materi Form Handling File
  basics/9_form_handling/7_file.php
  basics/9_form_handling/README.md
Due: php label, markdown label

fix: Menambahkan Materi Form Handling File(writing)
  basics/9_form_handling/7_file.php
Due: php label

fix: Menambahkan Materi Form Handling File(fixing space)
  basics/9_form_handling/7_file.php
Due: php label

chore: added phplint workflow
  composer.json
  composer.lock
Due: none

add: Menambahkan Materi Multiple File untuk Form Handling
  basics/9_form_handling/8_multiple_file.php
  basics/9_form_handling/README.md
Due: php label, markdown label

fix: Memperbaiki Whitespaces error
  basics/9_form_handling/8_multiple_file.php
Due: php label

add: Menambahkan Materi Menghapus File
  basics/10_file_handling/4_delete_file.php
  basics/10_file_handling/README.md
Due: php label, markdown label

fix: Memperbaiki Error Whitespace
  basics/10_file_handling/4_delete_file.php
  basics/10_file_handling/README.md
Due: php label, markdown label

fix: Memperbaiki Error Whitespace again
  basics/10_file_handling/4_delete_file.php
Due: php label

fix: Memperbaiki Error Whitespace sekali lagi
  basics/10_file_handling/4_delete_file.php
Due: php label

add: Menambahkan Materi Menghapus File (#162)
  basics/10_file_handling/4_delete_file.php
  basics/10_file_handling/README.md
Due: php label, markdown label

add: Menambahkan Materi Upload File
  basics/10_file_handling/5_upload_file.php
  basics/10_file_handling/README.md
Due: php label, markdown label

add: Menambahkan Materi File Validation
  basics/10_file_handling/6_validation_file.php
  basics/10_file_handling/README.md
Due: php label, markdown label

fix: Memperbaiki Codes
  basics/10_file_handling/6_validation_file.php
Due: php label

Menabahkan Google reChaptcha
  utilities/reCHAPTCHA/README.md
  utilities/reCHAPTCHA/google_reCHAPTCHA/README.md
  utilities/reCHAPTCHA/google_reCHAPTCHA/chaptcha.php
  utilities/reCHAPTCHA/google_reCHAPTCHA/images/0.png
  utilities/reCHAPTCHA/google_reCHAPTCHA/images/1.png
  utilities/reCHAPTCHA/google_reCHAPTCHA/images/2.png
  utilities/reCHAPTCHA/google_reCHAPTCHA/images/3.png
  utilities/reCHAPTCHA/google_reCHAPTCHA/images/4.png
  utilities/reCHAPTCHA/google_reCHAPTCHA/key.json
Due: php label, markdown label

Menabahkan Google reChaptcha
  composer.lock
Due: none

Menabahkan Google reChaptcha
  utilities/reCHAPTCHA/google_reCHAPTCHA/README.md
Due: markdown label

Menabahkan Google reChaptcha
  utilities/reCHAPTCHA/google_reCHAPTCHA/README.md
  utilities/reCHAPTCHA/google_reCHAPTCHA/key.json
Due: markdown label

Menabahkan Google reChaptcha v2
  utilities/reCHAPTCHA/google_reCHAPTCHA/README.md
  utilities/reCHAPTCHA/google_reCHAPTCHA/chaptcha.php
  utilities/reCHAPTCHA/google_reCHAPTCHA/key.json
Due: php label, markdown label

menambahkan google rechaptcha v2
  composer.lock
  utilities/reCHAPTCHA/README.md
  utilities/reCHAPTCHA/google_reCHAPTCHA/README.md
  utilities/reCHAPTCHA/google_reCHAPTCHA/chaptcha.php
  utilities/reCHAPTCHA/google_reCHAPTCHA/images/0.png
  utilities/reCHAPTCHA/google_reCHAPTCHA/images/1.png
  utilities/reCHAPTCHA/google_reCHAPTCHA/images/2.png
  utilities/reCHAPTCHA/google_reCHAPTCHA/images/3.png
  utilities/reCHAPTCHA/google_reCHAPTCHA/images/4.png
Due: php label, markdown label

feat: menambahkan google rechaptcha v2
  composer.lock
  utilities/reCHAPTCHA/README.md
  utilities/reCHAPTCHA/google_reCHAPTCHA/README.md
  utilities/reCHAPTCHA/google_reCHAPTCHA/chaptcha.php
  utilities/reCHAPTCHA/google_reCHAPTCHA/images/0.png
  utilities/reCHAPTCHA/google_reCHAPTCHA/images/1.png
  utilities/reCHAPTCHA/google_reCHAPTCHA/images/2.png
  utilities/reCHAPTCHA/google_reCHAPTCHA/images/3.png
  utilities/reCHAPTCHA/google_reCHAPTCHA/images/4.png
Due: php label, markdown label

fix: PSR-12 based linting
  utilities/reCHAPTCHA/google_reCHAPTCHA/chaptcha.php
Due: php label

add: menambahkan cara memasang google rechaptcha v2 dengan php (#167)
  composer.lock
  utilities/reCHAPTCHA/README.md
  utilities/reCHAPTCHA/google_reCHAPTCHA/README.md
  utilities/reCHAPTCHA/google_reCHAPTCHA/chaptcha.php
  utilities/reCHAPTCHA/google_reCHAPTCHA/images/0.png
  utilities/reCHAPTCHA/google_reCHAPTCHA/images/1.png
  utilities/reCHAPTCHA/google_reCHAPTCHA/images/2.png
  utilities/reCHAPTCHA/google_reCHAPTCHA/images/3.png
  utilities/reCHAPTCHA/google_reCHAPTCHA/images/4.png
Due: php label, markdown label
